<div class="h-full w-full p-2 py-5 flex flex-col items-center justify-start gap-4">
  <button class="bg-white/10 backdrop-blur-md rounded-full p-2 hover:bg-white/20 transition-colors cursor-pointer" type="button" aria-label="Notifications" (click)="onHandleNotificationClick()">
    <img src="./images/icons/bell.svg" class="w-6 h-6" alt="">
  </button>

  <button class="bg-white/10 backdrop-blur-md rounded-full p-2 hover:bg-white/20 transition-colors cursor-pointer" type="button" aria-label="Calendar" (click)="onHandleCalendarClick()">
    <img src="./images/icons/calendar.svg" class="w-6 h-6" alt="">
  </button>

  <button class="bg-white/10 backdrop-blur-md rounded-full p-2 hover:bg-white/20 transition-colors cursor-pointer" type="button" aria-label="User Info" (click)="onHandleUserInfoClick()">
    <img src="./images/icons/user_info.svg" class="w-6 h-6" alt="">
  </button>

  <button class="bg-white/10 backdrop-blur-md rounded-full p-2 hover:bg-white/20 transition-colors cursor-pointer" type="button" aria-label="Document" (click)="onHandleDocumentClick()">
    <img src="./images/icons/document.svg" class="w-6 h-6" alt="">
  </button>

  <button class="bg-white/10 backdrop-blur-md rounded-full p-2 hover:bg-white/20 transition-colors cursor-pointer" type="button" aria-label="Help" (click)="onHandleHelpClick()">
    <img src="./images/icons/question_mark.svg" class="w-6 h-6" alt="">
  </button>

  <button class="bg-white/10 backdrop-blur-md rounded-full p-2 hover:bg-white/20 transition-colors cursor-pointer" type="button" aria-label="Chat" (click)="onHandleChatClick()">
    <img src="./images/icons/chat.svg" class="w-6 h-6" alt="">
  </button>
</div>
