<p-menu
  #menu
  [model]="languages"
  [popup]="true"
  class="language-menu"
  [appendTo]="appendTo || actions"
  [baseZIndex]="99999"
  [autoZIndex]="true"
  (onHide)="menu.visible = false"
  styleClass="bg-primary-500 shadow-lg border border-gray-200 rounded-lg min-w-48"
>
  <ng-template let-item pTemplate="item">
    <a
      [attr.tabindex]="-1"
      class="flex items-center gap-3 p-3 hover:bg-blue-50 cursor-pointer transition-colors duration-200"
      (click)="item.command()"
    >
      <img
        [src]="item.icon"
        [alt]="item.label"
        class="w-6 h-6 object-contain"
      />
      <span class="text-gray-700 font-medium">{{ item.label }}</span>
    </a>
  </ng-template>
</p-menu>

<button
  #languageButton
  (click)="menu.toggle($event)"
  class="flex items-center gap-2 bg-primary-500 text-white px-4 py-3 justify-center min-w-[160px] rounded-full transition-colors duration-200 shadow-sm"
>
  <img
    [src]="currentLanguageData.flag"
    [alt]="currentLanguageData.name"
    class="w-6 h-6 object-contain"
  />

  <span class="font-medium text-base">{{ currentLanguageData.name }}</span>
  <i
    [ngClass]="menu.visible ? 'pi pi-angle-up' : 'pi pi-angle-down'"
    class="text-white text-sm transition-transform duration-300"
  ></i>
</button>
